<div class="row">
    <div class="col-6 col-sm-3 col-md-5 offset-sm-1 offset-md-1" id="bordcol">
        <h3 class="text-center">Login</h3>
        <form (ngSubmit)="onRegister(f)" #f="ngForm">
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" name="email" ngModel class="form-control" required>
          </div>
          <div class="form-group">
            <label for="pass">Password</label>
            <input type="pass" id="pass" name="pass" ngModel class="form-control" required minlength="6">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Sign In</button>
        </form>
      </div>
    </div>
