<h2 class="text-center">My Villains</h2>
<div class="row">
  <div class="col-4" id="bordcol">
    <div class="row">
      <button type="button" (click)="onSaveVillains()">Save data!</button>
    </div>
    <ul class="list-group">
      <li class="list-group-item" style="cursor: pointer;" *ngFor="let villain of villains"
        [class.selected]="villain === selectedVillain"
        (click)="onSelectedVillain(villain)">
        <p>{{villain.id}} {{villain.name}}</p>
      </li>
    </ul>
  </div>
      <div class="col-4" id="bordcol">
  <app-villain-detail [villain] = "selectedVillain"></app-villain-detail>
      </div>
</div>
