<h2 class="text-center">My Heroes</h2>

<div class="row">
  <div class="col-4" id="bordcol">
    <div class="row">
      <button name ="herobutton" style="cursor: pointer;" (click)="onSaveData()"><a>Save Data</a></button>
    </div>
      <ul class="list-group">
          <li class= "list-group-item" style="cursor: pointer;" *ngFor="let hero of heroes">
            <a routerLink="/detail/{{hero.id}}">
              <span class="badge">{{hero.id}}</span> {{hero.name}}
            </a>
          </li>
        </ul>
  </div>
  <div class="col-4" id="bordcol">
    <h4>Add a new heroe</h4>
    <form (ngSubmit)="addHeroe(f)" #f="ngForm">
<div class="row">
  <label for="">Id: </label>
  <input type="text" name="id" value="id" id="id"  ngModel>
</div>
    <div class="row">
        <label for="">Name: </label>
        <input type="text" name="name" value="name" id="name" ngModel>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>


